a{
    color:rgb(106, 211, 36);
    size: 2em;
}

div div{
    border-color: blueviolet;
    border-style: groove;
    border-width: 20px;
    background-color: rgb(152, 211, 208);
    width: 100%;
    height:20%;
}
div div h4{
    text-align: center;
}
