div div{
    
    border:4px;
    border-style:solid;
    border-color: rgb(11, 39, 100);
    width: 100%;
}
@keyframes moverlista{
  from {left: 0px;}
  to {left: 600px; rotate:180deg;}
}
.lista{
  width: 20%;
  position: relative;
}
.lista:hover{
  animation-name: moverlista;
  animation-duration: 4s;
}
div div, input{
  margin: 20px 0px 20px 0px;
}
p{
  color:red;
}
input[type=number] {
  width: 130px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 30px;
  background-color: rgb(222, 226, 213);
  transition: width 0.8s ease-in-out;
  text-align: center;
}
  
input[type=number]:focus {
  width: 100%;
}

input[type=submit] {
  margin-top: 30px;
  width: 100%;
  height: 49px;
  background-color: rgb(17, 204, 64);
  border: 3px;
  border-radius: 50px;
  border-color: violet;
  font-size: x-large;
  color:white;
  transition: background-color 0.2s ease-in-out;
  cursor:pointer;
}

input[type=submit]:hover{
  background-color:rgb(10, 145, 43);
}